@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root {
  --background: #0F0E17;
  --foreground: #DDD;
  --body: var(--background);
  --element: var(--foreground);
  --text: var(--background);
  --data: var(--foreground);
  --unknown: #ccc;
  --alkali-metal: #C8A3C5;
  --alkaline-earth-metal: #F59283;
  --lan­thanide: #ED9CC1;
  --metalloid: #F3E237;
  --actinide: #96CCBD;
  --transition-metal: #F6BE57;
  --post-​transition-metal: #a1c88b;
  --reactive-nonmetal: #D4DD68;
  --noble-gas: #ED9E65;
  --other: #fff;
}

/* Apply a light color scheme */
@media (prefers-color-scheme: light) {
  :root {
    --body: var(--foreground);
    --element: var(--background);
    --text: var(--foreground);
    --data: var(--background);
  }
}

body {
  background-color: var(--body);
  color: var(--text);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}