@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root {
	--background: #0F0E17;
	--foreground: #DDD;
	--body: var(--background);
	--element: var(--foreground);
	--text: var(--background);
	--data: var(--foreground);
	--preview-element-size: 15rem;
	--preview-inner-element-size: 14.7rem;
	--element-size: 5rem;
	--inner-element-size: 4.7rem;
}

/* Apply a light color scheme */
@media (prefers-color-scheme: light) {
	:root {
		--body: var(--foreground);
		--element: var(--background);
		--text: var(--foreground);
		--data: var(--background);
	}
}

html {
	font-size: 16px;
}

body {
	background-color: var(--body);
	color: var(--text);
	font-family: 'Roboto', sans-serif;
	margin: 0;
	height: 100vh;
	padding: 0;
}